<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
        margin-left: auto;
      	margin-right: auto;
      }
      #banner {
      	line-height: .5px;
      	margin-left: auto;
      	margin-right: auto;
      }
      body {
      	background-color: #252525;
      	color: green;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="banner">
      	<pre>
        ****************************************************************
        *   fffffff   rrrrrrr   y     y m     m       a      n    n    *
        *   f         r     r    y   y  mm   mm      a a     nn   n    *
        *   ffff      r     r     y y   m m m m     a   a    n n  n    *
        *   f         rrrrrrr      y    m  m  m    aaaaaaa   n  n n    *
        *   f         r  r         y    m     m   a       a  n   nn    *
        *   f         r    r       y    m     m  a         a n    n    *
        ****************************************************************
      	</pre>
      </div>
      <p>{{motd}}</p>
      <input id="MUD_TEXT" name="fooput" value="" />
    </div>
   </body>
</html>
