<!DOCTYPE html>
<html>
  <head>
    <title>Nash is Dash - SPACE MUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <pre id="banner">
****************************************************************
*   fffffff   rrrrrrr   y     y m     m       a      n    n    *
*   f         r     r    y   y  mm   mm      a a     nn   n    *
*   ffff      r     r     y y   m m m m     a   a    n n  n    *
*   f         rrrrrrr      y    m  m  m    aaaaaaa   n  n n    *
*   f         r  r         y    m     m   a       a  n   nn    *
*   f         r    r       y    m     m  a         a n    n    *
****************************************************************

{{motd}}
      </pre>
      <input id="text-input" placeholder=">:" />
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#text-input").focus();

        var socket = io.connect('http://' + document.domain + ':' + location.port + '/mud');
        socket.on('communication', function(msg) {
          $("#banner").append("\n"+msg.name+": " + msg.data)
        });

        $('#text-input').on('keypress', function (event) {
          if(event.which === 13){
            socket.emit("communication", {"target": "all", "data": $(this).val() });

            $(this).val("");
          }
       });
      });
    </script>
   </body>
</html>
